@tailwind base;
@tailwind components;
@tailwind utilities;
@import "../public/fonts/hind_siliguri_latin/stylesheet.css";

:root {
    --primary-color: #5e937c;
}

html {
    /* when jumping to anchors add padding because of header */
    scroll-padding-top: 3.25rem;

    /* smooth scroll to anchors */
    scroll-behavior: smooth;
}

@layer utilities {
    .bg-primary {
        background-color: var(--primary-color);
    }

    .text-primary {
        color: var(--primary-color);
    }

    .border-primary {
        border-color: var(--primary-color);
    }

    .secondary-font {
        font-family: "Hind Siliguri", sans-serif;
    }
}